name: Build palen1x

on:
  push:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        arch: [ amd64, i686 ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Get version
        id: version
        run: echo "VERSION=$(cat version)" >> $GITHUB_ENV

      - name: Build
        env:
          ARCH: ${{ matrix.arch }}
        run: |
          sudo -E ./build.sh

      - name: Upload artifact to GitHub
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.arch }}-iso
          path: work/*-${{ matrix.arch }}.iso
